<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>exp_wpt-guang231.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,121},{40,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,90}}</string>
        <key>sourceSize</key>
        <string>{40,90}</string>
      </dict>
      <key>exp_wpt-jyz.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,424},{58,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,30}}</string>
        <key>sourceSize</key>
        <string>{58,30}</string>
      </dict>
      <key>exp_wpt-fnz.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,560},{100,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,48}}</string>
        <key>sourceSize</key>
        <string>{100,48}</string>
      </dict>
      <key>exp_wpt-yhujhj.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,437},{98,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,92}}</string>
        <key>sourceSize</key>
        <string>{98,92}</string>
      </dict>
      <key>exp_wpt-yh34.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,369},{54,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,53}}</string>
        <key>sourceSize</key>
        <string>{54,53}</string>
      </dict>
      <key>exp_wpt-tx1.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,112},{22,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,23}}</string>
        <key>sourceSize</key>
        <string>{22,23}</string>
      </dict>
      <key>exp_wpt-jyz2.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,310},{57,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,61}}</string>
        <key>sourceSize</key>
        <string>{57,61}</string>
      </dict>
      <key>exp_wpt-jyz1.png</key>
      <dict>
        <key>frame</key>
        <string>{{629,354},{37,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,33}}</string>
        <key>sourceSize</key>
        <string>{37,33}</string>
      </dict>
      <key>exp_wpt-jx10.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,422},{87,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,32}}</string>
        <key>sourceSize</key>
        <string>{87,32}</string>
      </dict>
      <key>exp_wpt-lh1.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,121},{39,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,78}}</string>
        <key>sourceSize</key>
        <string>{39,78}</string>
      </dict>
      <key>exp_wpt-dx1.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,446},{63,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,15}}</string>
        <key>sourceSize</key>
        <string>{63,15}</string>
      </dict>
      <key>exp_wpt-p4.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,373},{30,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>exp_wpt-p3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,257},{73,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,64}}</string>
        <key>sourceSize</key>
        <string>{73,64}</string>
      </dict>
      <key>exp_wpt-p2.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,128},{54,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,63}}</string>
        <key>sourceSize</key>
        <string>{54,63}</string>
      </dict>
      <key>exp_wpt-p1.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,241},{102,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,102}}</string>
        <key>sourceSize</key>
        <string>{102,102}</string>
      </dict>
      <key>exp_wpt-fk54.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,310},{74,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,51}}</string>
        <key>sourceSize</key>
        <string>{74,51}</string>
      </dict>
      <key>exp_wpt-xq2.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,212},{39,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,52}}</string>
        <key>sourceSize</key>
        <string>{39,52}</string>
      </dict>
      <key>exp_wpt-z3.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,456},{96,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,83}}</string>
        <key>sourceSize</key>
        <string>{96,83}</string>
      </dict>
      <key>exp_wpt-z2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,542},{100,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,74}}</string>
        <key>sourceSize</key>
        <string>{100,74}</string>
      </dict>
      <key>exp_wpt-z1.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,456},{107,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,69}}</string>
        <key>sourceSize</key>
        <string>{107,69}</string>
      </dict>
      <key>exp_wpt-2dd.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,320},{56,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,58}}</string>
        <key>sourceSize</key>
        <string>{56,58}</string>
      </dict>
      <key>exp_wpt-yh8.png</key>
      <dict>
        <key>frame</key>
        <string>{{948,295},{73,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,57}}</string>
        <key>sourceSize</key>
        <string>{73,57}</string>
      </dict>
      <key>exp_wpt-qi9.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,257},{41,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,43}}</string>
        <key>sourceSize</key>
        <string>{41,43}</string>
      </dict>
      <key>exp_wpt-qi8.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,373},{55,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,49}}</string>
        <key>sourceSize</key>
        <string>{55,49}</string>
      </dict>
      <key>exp_wpt-jy4.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,171},{21,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,7}}</string>
        <key>sourceSize</key>
        <string>{21,7}</string>
      </dict>
      <key>exp_wpt-jyd.png</key>
      <dict>
        <key>frame</key>
        <string>{{962,117},{56,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,87}}</string>
        <key>sourceSize</key>
        <string>{56,87}</string>
      </dict>
      <key>exp_wpt-jx11.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,542},{98,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,55}}</string>
        <key>sourceSize</key>
        <string>{98,55}</string>
      </dict>
      <key>exp_wpt-lhmz2.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,218},{70,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,111}}</string>
        <key>sourceSize</key>
        <string>{70,111}</string>
      </dict>
      <key>exp_wpt-lhmz1.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,98},{70,118}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,118}}</string>
        <key>sourceSize</key>
        <string>{70,118}</string>
      </dict>
      <key>exp_wpt-fk40.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,0},{11,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,28}}</string>
        <key>sourceSize</key>
        <string>{11,28}</string>
      </dict>
      <key>exp_wpt-yy5.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,331},{73,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,38}}</string>
        <key>sourceSize</key>
        <string>{73,38}</string>
      </dict>
      <key>exp_wpt-1dd.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,260},{56,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,58}}</string>
        <key>sourceSize</key>
        <string>{56,58}</string>
      </dict>
      <key>exp_wpt-gun.png</key>
      <dict>
        <key>frame</key>
        <string>{{962,0},{41,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,115}}</string>
        <key>sourceSize</key>
        <string>{41,115}</string>
      </dict>
      <key>exp_wpt-jyy3.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,302},{36,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,39}}</string>
        <key>sourceSize</key>
        <string>{36,39}</string>
      </dict>
      <key>exp_wpt-daz.png</key>
      <dict>
        <key>frame</key>
        <string>{{957,206},{56,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,87}}</string>
        <key>sourceSize</key>
        <string>{56,87}</string>
      </dict>
      <key>exp_wpt-jy28.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,432},{114,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,83}}</string>
        <key>sourceSize</key>
        <string>{114,83}</string>
      </dict>
      <key>exp_wpt-lh3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,104},{7,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,7}}</string>
        <key>sourceSize</key>
        <string>{7,7}</string>
      </dict>
      <key>exp_wpt-fn1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,30},{12,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,24}}</string>
        <key>sourceSize</key>
        <string>{12,24}</string>
      </dict>
      <key>exp_wpt-kz1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,472},{119,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,68}}</string>
        <key>sourceSize</key>
        <string>{119,68}</string>
      </dict>
      <key>exp_wpt-fk 34.png</key>
      <dict>
        <key>frame</key>
        <string>{{781,445},{34,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,21}}</string>
        <key>sourceSize</key>
        <string>{34,21}</string>
      </dict>
      <key>exp_wpt-xq3.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,447},{55,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,21}}</string>
        <key>sourceSize</key>
        <string>{55,21}</string>
      </dict>
      <key>exp_wpt-yy7.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,316},{76,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,40}}</string>
        <key>sourceSize</key>
        <string>{76,40}</string>
      </dict>
      <key>exp_wpt-3dd1.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,302},{70,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,56}}</string>
        <key>sourceSize</key>
        <string>{70,56}</string>
      </dict>
      <key>exp_wpt-qi14.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,360},{56,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,52}}</string>
        <key>sourceSize</key>
        <string>{56,52}</string>
      </dict>
      <key>exp_wpt-qi13.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,363},{62,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,45}}</string>
        <key>sourceSize</key>
        <string>{62,45}</string>
      </dict>
      <key>exp_wpt-qi12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,373},{61,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,43}}</string>
        <key>sourceSize</key>
        <string>{61,43}</string>
      </dict>
      <key>exp_wpt-qi10.png</key>
      <dict>
        <key>frame</key>
        <string>{{617,389},{46,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,48}}</string>
        <key>sourceSize</key>
        <string>{46,48}</string>
      </dict>
      <key>exp_wpt-qi7.png</key>
      <dict>
        <key>frame</key>
        <string>{{869,370},{55,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,50}}</string>
        <key>sourceSize</key>
        <string>{55,50}</string>
      </dict>
      <key>exp_wpt-qi6.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,378},{53,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,46}}</string>
        <key>sourceSize</key>
        <string>{53,46}</string>
      </dict>
      <key>exp_wpt-qi5.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,403},{54,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,42}}</string>
        <key>sourceSize</key>
        <string>{54,42}</string>
      </dict>
      <key>exp_wpt-qi4.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,414},{54,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,38}}</string>
        <key>sourceSize</key>
        <string>{54,38}</string>
      </dict>
      <key>exp_wpt-qi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,380},{53,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,44}}</string>
        <key>sourceSize</key>
        <string>{53,44}</string>
      </dict>
      <key>exp_wpt-qi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{782,373},{53,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,51}}</string>
        <key>sourceSize</key>
        <string>{53,51}</string>
      </dict>
      <key>exp_wpt-qi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,410},{44,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,50}}</string>
        <key>sourceSize</key>
        <string>{44,50}</string>
      </dict>
      <key>exp_wpt-jyy4.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,424},{43,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,46}}</string>
        <key>sourceSize</key>
        <string>{43,46}</string>
      </dict>
      <key>exp_wpt-jd2.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,358},{66,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,43}}</string>
        <key>sourceSize</key>
        <string>{66,43}</string>
      </dict>
      <key>exp_wpt-jd1.png</key>
      <dict>
        <key>frame</key>
        <string>{{938,354},{66,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,45}}</string>
        <key>sourceSize</key>
        <string>{66,45}</string>
      </dict>
      <key>exp_wpt-jy30.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,233},{75,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,67}}</string>
        <key>sourceSize</key>
        <string>{75,67}</string>
      </dict>
      <key>exp_wpt-lh2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,104},{7,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,7}}</string>
        <key>sourceSize</key>
        <string>{7,7}</string>
      </dict>
      <key>exp_wpt-fn2.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,153},{19,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,16}}</string>
        <key>sourceSize</key>
        <string>{19,16}</string>
      </dict>
      <key>exp_wpt-fky1.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,345},{111,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,85}}</string>
        <key>sourceSize</key>
        <string>{111,85}</string>
      </dict>
      <key>exp_wpt-fk32.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,371},{87,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,64}}</string>
        <key>sourceSize</key>
        <string>{87,64}</string>
      </dict>
      <key>exp_wpt-xq70.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,449},{32,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,22}}</string>
        <key>sourceSize</key>
        <string>{32,22}</string>
      </dict>
      <key>exp_wpt-xqz.png</key>
      <dict>
        <key>frame</key>
        <string>{{782,426},{40,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,17}}</string>
        <key>sourceSize</key>
        <string>{40,17}</string>
      </dict>
      <key>exp_wpt-dd2.png</key>
      <dict>
        <key>frame</key>
        <string>{{926,401},{94,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,95}}</string>
        <key>sourceSize</key>
        <string>{94,95}</string>
      </dict>
      <key>exp_wpt-dd1.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,527},{121,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,59}}</string>
        <key>sourceSize</key>
        <string>{121,59}</string>
      </dict>
      <key>exp_wpt-13wq.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,455},{32,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,17}}</string>
        <key>sourceSize</key>
        <string>{32,17}</string>
      </dict>
      <key>exp_wpt-11wq.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,560},{98,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,55}}</string>
        <key>sourceSize</key>
        <string>{98,55}</string>
      </dict>
      <key>exp_wpt-tx6.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,308},{30,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,44}}</string>
        <key>sourceSize</key>
        <string>{30,44}</string>
      </dict>
      <key>exp_wpt-jy.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,180},{21,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,7}}</string>
        <key>sourceSize</key>
        <string>{21,7}</string>
      </dict>
      <key>exp_wpt-fn3.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,137},{22,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,14}}</string>
        <key>sourceSize</key>
        <string>{22,14}</string>
      </dict>
      <key>exp_wpt-xq69.png</key>
      <dict>
        <key>frame</key>
        <string>{{869,320},{67,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,48}}</string>
        <key>sourceSize</key>
        <string>{67,48}</string>
      </dict>
      <key>exp_wpt-xq68.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,323},{67,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,48}}</string>
        <key>sourceSize</key>
        <string>{67,48}</string>
      </dict>
      <key>exp_wpt-xqy2.png</key>
      <dict>
        <key>frame</key>
        <string>{{926,498},{89,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,68}}</string>
        <key>sourceSize</key>
        <string>{89,68}</string>
      </dict>
      <key>exp_wpt-xqy1.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,474},{89,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,76}}</string>
        <key>sourceSize</key>
        <string>{89,76}</string>
      </dict>
      <key>exp_wpt-bn1qw.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,0},{126,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,119}}</string>
        <key>sourceSize</key>
        <string>{126,119}</string>
      </dict>
      <key>exp_wpt-33.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,56},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,16}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>exp_wpt-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,369},{25,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,19}}</string>
        <key>sourceSize</key>
        <string>{25,19}</string>
      </dict>
      <key>exp_wpt-zz2qw.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,0},{111,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,110}}</string>
        <key>sourceSize</key>
        <string>{111,110}</string>
      </dict>
      <key>exp_wpt-z1qw.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,261},{84,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,110}}</string>
        <key>sourceSize</key>
        <string>{84,110}</string>
      </dict>
      <key>exp_wpt-aizy3qw.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,436},{70,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,8}}</string>
        <key>sourceSize</key>
        <string>{70,8}</string>
      </dict>
      <key>exp_wpt-azy2qw.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,426},{70,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,8}}</string>
        <key>sourceSize</key>
        <string>{70,8}</string>
      </dict>
      <key>exp_wpt-azy1qw.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,439},{70,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,8}}</string>
        <key>sourceSize</key>
        <string>{70,8}</string>
      </dict>
      <key>exp_wpt-jy2.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,266},{37,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,40}}</string>
        <key>sourceSize</key>
        <string>{37,40}</string>
      </dict>
      <key>exp_wpt-jyzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,118},{38,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,92}}</string>
        <key>sourceSize</key>
        <string>{38,92}</string>
      </dict>
      <key>exp_wpt-yy1.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,213},{39,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,42}}</string>
        <key>sourceSize</key>
        <string>{39,42}</string>
      </dict>
      <key>exp_wpt-leizhu.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,94},{13,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,8}}</string>
        <key>sourceSize</key>
        <string>{13,8}</string>
      </dict>
      <key>exp_wpt-31a.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,246},{82,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,62}}</string>
        <key>sourceSize</key>
        <string>{82,62}</string>
      </dict>
      <key>exp_wpt-13.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,454},{31,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,21}}</string>
        <key>sourceSize</key>
        <string>{31,21}</string>
      </dict>
      <key>exp_wpt-jy3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,418},{43,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,46}}</string>
        <key>sourceSize</key>
        <string>{43,46}</string>
      </dict>
      <key>exp_wpt-jyq.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,193},{55,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,56}}</string>
        <key>sourceSize</key>
        <string>{55,56}</string>
      </dict>
      <key>exp_wpt-fny1.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,343},{38,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,33}}</string>
        <key>sourceSize</key>
        <string>{38,33}</string>
      </dict>
      <key>exp_wpt-yy32.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,251},{52,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,57}}</string>
        <key>sourceSize</key>
        <string>{52,57}</string>
      </dict>
      <key>exp_wpt-yy2.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,201},{52,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,57}}</string>
        <key>sourceSize</key>
        <string>{52,57}</string>
      </dict>
      <key>exp_wpt-mei.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,390},{23,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,14}}</string>
        <key>sourceSize</key>
        <string>{23,14}</string>
      </dict>
      <key>exp_wpt-16.png</key>
      <dict>
        <key>frame</key>
        <string>{{869,262},{77,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,56}}</string>
        <key>sourceSize</key>
        <string>{77,56}</string>
      </dict>
      <key>exp_wpt-4.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,463},{115,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,77}}</string>
        <key>sourceSize</key>
        <string>{115,77}</string>
      </dict>
      <key>exp_wpt-yh9.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,449},{35,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,18}}</string>
        <key>sourceSize</key>
        <string>{35,18}</string>
      </dict>
      <key>exp_wpt-jyy1.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,252},{76,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,62}}</string>
        <key>sourceSize</key>
        <string>{76,62}</string>
      </dict>
      <key>exp_wpt-fnt.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,0},{127,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,119}}</string>
        <key>sourceSize</key>
        <string>{127,119}</string>
      </dict>
      <key>exp_wpt-g4.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,531},{148,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,27}}</string>
        <key>sourceSize</key>
        <string>{148,27}</string>
      </dict>
      <key>exp_wpt-g3.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,517},{148,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,59}}</string>
        <key>sourceSize</key>
        <string>{148,59}</string>
      </dict>
      <key>exp_wpt-g2.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,0},{156,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,96}}</string>
        <key>sourceSize</key>
        <string>{156,96}</string>
      </dict>
      <key>exp_wpt-g1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{136,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,126}}</string>
        <key>sourceSize</key>
        <string>{136,126}</string>
      </dict>
      <key>exp_wpt-yj1.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,454},{43,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,10}}</string>
        <key>sourceSize</key>
        <string>{43,10}</string>
      </dict>
      <key>exp_wpt-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,426},{58,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,27}}</string>
        <key>sourceSize</key>
        <string>{58,27}</string>
      </dict>
      <key>exp_wpt-n6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{79,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,127}}</string>
        <key>sourceSize</key>
        <string>{79,127}</string>
      </dict>
      <key>exp_wpt-n5.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,118},{83,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,126}}</string>
        <key>sourceSize</key>
        <string>{83,126}</string>
      </dict>
      <key>exp_wpt-n4.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,121},{83,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,123}}</string>
        <key>sourceSize</key>
        <string>{83,123}</string>
      </dict>
      <key>exp_wpt-n3.png</key>
      <dict>
        <key>frame</key>
        <string>{{877,0},{83,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,130}}</string>
        <key>sourceSize</key>
        <string>{83,130}</string>
      </dict>
      <key>exp_wpt-n2.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,98},{79,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>exp_wpt-n1.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,0},{83,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,132}}</string>
        <key>sourceSize</key>
        <string>{83,132}</string>
      </dict>
      <key>exp_wpt-n11.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,112},{84,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,127}}</string>
        <key>sourceSize</key>
        <string>{84,127}</string>
      </dict>
      <key>exp_wpt-n10.png</key>
      <dict>
        <key>frame</key>
        <string>{{789,134},{80,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,125}}</string>
        <key>sourceSize</key>
        <string>{80,125}</string>
      </dict>
      <key>exp_wpt-n9.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,246},{80,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,121}}</string>
        <key>sourceSize</key>
        <string>{80,121}</string>
      </dict>
      <key>exp_wpt-n8.png</key>
      <dict>
        <key>frame</key>
        <string>{{877,132},{78,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,128}}</string>
        <key>sourceSize</key>
        <string>{78,128}</string>
      </dict>
      <key>exp_wpt-n7.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,121},{79,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,129}}</string>
        <key>sourceSize</key>
        <string>{79,129}</string>
      </dict>
      <key>exp_wpt-yj2.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,541},{94,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,58}}</string>
        <key>sourceSize</key>
        <string>{94,58}</string>
      </dict>
      <key>exp_wpt-5.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,568},{96,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,35}}</string>
        <key>sourceSize</key>
        <string>{96,35}</string>
      </dict>
      <key>exp_wpt-141xg60.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,74},{13,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,18}}</string>
        <key>sourceSize</key>
        <string>{13,18}</string>
      </dict>
      <key>exp_wpt-6.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,0},{124,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,116}}</string>
        <key>sourceSize</key>
        <string>{124,116}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>expressions_chat.png</string>
      <key>textureFileName</key>
      <string>expressions_chat.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>