<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>paixing_wpt-cell-guangtiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,449},{800,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{800,104}}</string>
        <key>sourceSize</key>
        <string>{800,104}</string>
      </dict>
      <key>paixing_wpt-cell-win.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,363},{174,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{174,47}}</string>
        <key>sourceSize</key>
        <string>{174,47}</string>
      </dict>
      <key>paixing_wpt-cell-staraight.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,0},{367,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{367,59}}</string>
        <key>sourceSize</key>
        <string>{367,59}</string>
      </dict>
      <key>paixing_wpt-cell-royal.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,110},{331,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{331,59}}</string>
        <key>sourceSize</key>
        <string>{331,59}</string>
      </dict>
      <key>paixing_wpt-cell-rour.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,61},{364,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{364,47}}</string>
        <key>sourceSize</key>
        <string>{364,47}</string>
      </dict>
      <key>paixing_wpt-cell-full house.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,171},{306,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{306,47}}</string>
        <key>sourceSize</key>
        <string>{306,47}</string>
      </dict>
      <key>paixing_wpt-cell-sidai.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,346},{606,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{606,101}}</string>
        <key>sourceSize</key>
        <string>{606,101}</string>
      </dict>
      <key>paixing_wpt-cell-bigstar.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,220},{133,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,184}}</string>
        <key>sourceSize</key>
        <string>{133,184}</string>
      </dict>
      <key>paixing_wpt-cell-smallstar.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,220},{93,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,141}}</string>
        <key>sourceSize</key>
        <string>{93,141}</string>
      </dict>
      <key>paixing_wpt-cell-light.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{646,344}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{646,344}}</string>
        <key>sourceSize</key>
        <string>{646,344}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>paixing.png</string>
      <key>textureFileName</key>
      <string>paixing.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>