<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tanchu_zhuanpan-cell-kong.png</key>
      <dict>
        <key>frame</key>
        <string>{{2046,0},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-c15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1449,574},{560,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{560,80}}</string>
        <key>sourceSize</key>
        <string>{560,80}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-c14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,545},{560,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{560,80}}</string>
        <key>sourceSize</key>
        <string>{560,80}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-c13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1484,328},{560,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{560,80}}</string>
        <key>sourceSize</key>
        <string>{560,80}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-c12.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,470},{560,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{560,80}}</string>
        <key>sourceSize</key>
        <string>{560,80}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-c11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1484,246},{560,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{560,80}}</string>
        <key>sourceSize</key>
        <string>{560,80}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-c10.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,552},{560,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{560,80}}</string>
        <key>sourceSize</key>
        <string>{560,80}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-c9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1482,410},{560,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{560,80}}</string>
        <key>sourceSize</key>
        <string>{560,80}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-c8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,627},{560,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{560,80}}</string>
        <key>sourceSize</key>
        <string>{560,80}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-c7.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,634},{560,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{560,80}}</string>
        <key>sourceSize</key>
        <string>{560,80}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-c6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1482,492},{560,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{560,80}}</string>
        <key>sourceSize</key>
        <string>{560,80}</string>
      </dict>
      <key>tanchu_zhuanpan-png-zh0005.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{1331,656},{560,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{560,80}}</string>
        <key>sourceSize</key>
        <string>{560,80}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-c4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1484,0},{560,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{560,80}}</string>
        <key>sourceSize</key>
        <string>{560,80}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-c3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,709},{560,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{560,80}}</string>
        <key>sourceSize</key>
        <string>{560,80}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-c2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1484,82},{560,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{560,80}}</string>
        <key>sourceSize</key>
        <string>{560,80}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-c1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1484,164},{560,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{560,80}}</string>
        <key>sourceSize</key>
        <string>{560,80}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-con.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,379},{565,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{565,89}}</string>
        <key>sourceSize</key>
        <string>{565,89}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-star1.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,681},{162,167}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,167}}</string>
        <key>sourceSize</key>
        <string>{162,167}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-star2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1344,379},{136,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,131}}</string>
        <key>sourceSize</key>
        <string>{136,131}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-shuizi.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,716},{230,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{230,40}}</string>
        <key>sourceSize</key>
        <string>{230,40}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-lips.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,545},{205,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{205,134}}</string>
        <key>sourceSize</key>
        <string>{205,134}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-sprite 78.png</key>
      <dict>
        <key>frame</key>
        <string>{{1339,512},{108,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,108}}</string>
        <key>sourceSize</key>
        <string>{108,108}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-g1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1893,656},{150,149}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,149}}</string>
        <key>sourceSize</key>
        <string>{150,149}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-kuang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,0},{705,377}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{705,377}}</string>
        <key>sourceSize</key>
        <string>{705,377}</string>
      </dict>
      <key>tanchu_zhuanpan-cell-guang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{775,543}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{775,543}}</string>
        <key>sourceSize</key>
        <string>{775,543}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tanchu.png</string>
      <key>textureFileName</key>
      <string>tanchu.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
    </dict>
  </dict>
</plist>