<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>juese_wpt-cell-xiaozhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{1416,1282},{137,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{137,68}}</string>
        <key>sourceSize</key>
        <string>{137,68}</string>
      </dict>
      <key>juese_wpt-cell-wumingzhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{1263,1282},{151,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,70}}</string>
        <key>sourceSize</key>
        <string>{151,70}</string>
      </dict>
      <key>juese_wpt-cell-zhongzhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,1045},{134,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,72}}</string>
        <key>sourceSize</key>
        <string>{134,72}</string>
      </dict>
      <key>juese_wpt-cell-shizhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,628},{92,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,133}}</string>
        <key>sourceSize</key>
        <string>{92,133}</string>
      </dict>
      <key>juese_wpt-cell-hta1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1730,1263},{140,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,184}}</string>
        <key>sourceSize</key>
        <string>{140,184}</string>
      </dict>
      <key>juese_wpt-cell-hta.png</key>
      <dict>
        <key>frame</key>
        <string>{{1121,1215},{140,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,184}}</string>
        <key>sourceSize</key>
        <string>{140,184}</string>
      </dict>
      <key>juese_wpt-cell-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{1872,1263},{136,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,123}}</string>
        <key>sourceSize</key>
        <string>{136,123}</string>
      </dict>
      <key>juese_wpt-cell-muzhi.png</key>
      <dict>
        <key>frame</key>
        <string>{{1944,814},{96,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,126}}</string>
        <key>sourceSize</key>
        <string>{96,126}</string>
      </dict>
      <key>juese_wpt-cell-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1276},{196,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,120}}</string>
        <key>sourceSize</key>
        <string>{196,120}</string>
      </dict>
      <key>juese_wpt-cell-youqianbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{1121,969},{251,244}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{251,244}}</string>
        <key>sourceSize</key>
        <string>{251,244}</string>
      </dict>
      <key>juese_wpt-cell-youshangbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,949},{292,325}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{292,325}}</string>
        <key>sourceSize</key>
        <string>{292,325}</string>
      </dict>
      <key>juese_wpt-cell-toufa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,1045},{134,251}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,251}}</string>
        <key>sourceSize</key>
        <string>{134,251}</string>
      </dict>
      <key>juese_wpt-cell-toufa21.png</key>
      <dict>
        <key>frame</key>
        <string>{{1944,570},{92,242}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,242}}</string>
        <key>sourceSize</key>
        <string>{92,242}</string>
      </dict>
      <key>juese_wpt-cell-toufa2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1386,842},{342,438}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{342,438}}</string>
        <key>sourceSize</key>
        <string>{342,438}</string>
      </dict>
      <key>juese_wpt-cell-toufa3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1844,570},{98,431}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,431}}</string>
        <key>sourceSize</key>
        <string>{98,431}</string>
      </dict>
      <key>juese_wpt-cell-toufa5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{495,947}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{495,947}}</string>
        <key>sourceSize</key>
        <string>{495,947}</string>
      </dict>
      <key>juese_wpt-cell-lian42432.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,552},{400,415}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,415}}</string>
        <key>sourceSize</key>
        <string>{400,415}</string>
      </dict>
      <key>juese_wpt-cell-lian42432r2rs.png</key>
      <dict>
        <key>frame</key>
        <string>{{1439,425},{403,415}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{403,415}}</string>
        <key>sourceSize</key>
        <string>{403,415}</string>
      </dict>
      <key>juese_wpt-cell-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,628},{391,415}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{391,415}}</string>
        <key>sourceSize</key>
        <string>{391,415}</string>
      </dict>
      <key>juese_wpt-cell-toufa41.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,1045},{205,237}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{205,237}}</string>
        <key>sourceSize</key>
        <string>{205,237}</string>
      </dict>
      <key>juese_wpt-cell-toufa4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1730,1003},{205,258}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{205,258}}</string>
        <key>sourceSize</key>
        <string>{205,258}</string>
      </dict>
      <key>juese_wpt-cell-shangshen.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,0},{453,550}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{453,550}}</string>
        <key>sourceSize</key>
        <string>{453,550}</string>
      </dict>
      <key>juese_wpt-cell-xiashen.png</key>
      <dict>
        <key>frame</key>
        <string>{{1439,0},{444,423}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{444,423}}</string>
        <key>sourceSize</key>
        <string>{444,423}</string>
      </dict>
      <key>juese_wpt-cell-toufa6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1885,0},{118,568}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,568}}</string>
        <key>sourceSize</key>
        <string>{118,568}</string>
      </dict>
      <key>juese_wpt-cell-toufa7.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,0},{485,626}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{485,626}}</string>
        <key>sourceSize</key>
        <string>{485,626}</string>
      </dict>
      <key>juese_wpt-cell-zuoqianbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,949},{115,387}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,387}}</string>
        <key>sourceSize</key>
        <string>{115,387}</string>
      </dict>
      <key>juese_wpt-cell-zuoshangbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,969},{229,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{229,384}}</string>
        <key>sourceSize</key>
        <string>{229,384}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>juese.png</string>
      <key>textureFileName</key>
      <string>juese.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
    </dict>
  </dict>
</plist>